
.employees-box
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
    background-color: black;
}

.current-employees
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.employees
{
    width: 95%;
    height: 100%;
    border: 3px solid aqua;
    border-top: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap: 0.4em;
}

.previous-employees
{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(5, 253, 199); */
}

.deleted-employees
{
    width: 95%;
    height: 100%;
    border: 3px solid aqua;
    border-left: none;
    border-top: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    gap: .4em;
    
}

.title
{
    width: 96%;
    height: 5%;
    border: 2px solid aqua;
    border-radius: 10%;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60%;
    font-weight: bold;
    color: rgb(255, 0, 0);
}

.employees-table
{
    width: 97%;
    height: 95%;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.employees-table::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  
  .employees-table::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
  }
  
  .employees-table::-webkit-scrollbar-thumb {
    background: aquamarine;
    border-radius: 10px;
  }
  
  .employees-table::-webkit-scrollbar-thumb:hover {
    background: rgba(3, 100, 68, 0.52);
    transition: all .7s ease-in-out;
  }

.employees-table table 
{
    width: 100%;
    border-collapse: collapse;
    color: aqua;
}

.employees-table th, .employees-table td 
{
    border: 1px solid aqua;
    text-align: center;

    
}

.employees-table th 
{
    background-color: inherit;
    font-size: 50%;
}

.employees-table td 
{
    background-color: black;
    font-size: 50%;
}

.employees-table img 
{
    max-width: 30px;
    height: 30px;
}

button 
{
    /* padding: 5px 10px; */
    /* margin-top: 5px; */
    cursor: pointer;
    background-color: black;
    color: aqua;
    border: none;
    border-left: 1px solid red;
    border-right: 1px solid red;
    border-radius: 10%;
    font-size: 100%;
}

button:hover 
{
    border-left: 1px solid rgba(255, 0, 0, 0.413);
    border-right: 1px solid rgba(255, 0, 0, 0.413);
}

p 
{
    color: aqua;
    text-align: center;
}

@media only screen and (max-width: 768px) 
{
    .employees-box
    {
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .current-employees
    {
        height: 50%;
        width: 98%;
    }

    .previous-employees
    {
        height: 50%;
        width: 98%;
    }

    .title
    {
        font-size: auto;
        height: 7%;
    }

    .employees-table
    {
    height: 93%;
    }
    
}