
.myNav
{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.myNav button
{
    width: 13%;
    height: 50%;
    border-radius: 10%;
    border: 2px solid aqua;
    border-bottom: none;
    background-color: inherit;
    font-size: 90%;
    font-weight: bold;
    color: red;
}

.myNav button:hover
{
  border: 2PX solid rgba(6, 97, 67, 0.942);
  border-bottom: none;
  color: rgba(6, 97, 67, 0.942);
  transition: all .7s ease-in-out;
}

@media only screen and (max-width:740px) 
{
  .myNav
  {
    gap: 3em;
    height: 35%;
  }
  .myNav button
  {
    width: auto;
    height: 40%;
    font-size: 40%;
  }
  
}
