
.profile-box
{
    width: 40%;
    height: 90%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 3px solid aqua; */
    border-top: none;
    gap: 0.3em;
}

.profile-title
{
    height: 10%;
    background-color: black;
    width: 45%;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 90%;
    border: 3px solid aqua;
    border-radius: 13%;
    border-bottom: none;
}

.profile 
{
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.img-circle
{
    width: 40%;
    height: 25%;
    border-radius: 10%;
    border: 2px solid aqua;
    border-top: none;
    border-bottom: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-circle img
{
    width: 50%;
    height: 80%;
    border-radius: 10%;
}

.details-box
{
    width: 80%;
    height: 75%;
    border: 2px solid aqua;
    border-top: none;
    border-bottom: none;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
}

.details 
{
    height: 80%;
    width: 100%;
    background-color: inherit;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*  */
    color: red;
}

.details p
{
    font-size: 60%;
    display: flex;
    gap: 2.5em;
    align-items: center;
    justify-content: end;
}

.details p input
{
    font-size: 100%;
    background-color: rgba(10, 97, 68, 0.353);
    color: red;
    border: none;
    border-bottom: 1px solid aqua;
    outline: none;
}

.details p input:focus
{
    border-bottom: 1px solid red;
}

.button
{
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button button
{
    width: 30%;
    height: 60%;
    font-size: 60%;
    font-weight: bold;
    border: 2px solid aqua;
    border-bottom: none;
    background-color: inherit;
    color: red;
    border-radius: 10%;
}

.button button:hover
{
    color: rgb(27, 76, 60);
    border: 2px solid rgb(27, 76, 60);
    border-bottom: none;
    transition: all 1s ease-in-out;
}

@media only screen and (max-width: 768px) 
{
    .profile-box
    {
        width: 80%;
    }
    
    .profile-title
    {
        font-size: 80%;
    }

    .button button
    {
        font-size: auto;
    }
}