.registration-box
{
    width: 35%;
    height: 88%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid aqua;
    border-top: none;
    border-bottom: none;
    border-radius: 5%;
    gap: 1em;
}

.form-title
{
    width: 80%;
    height: 7%;
    border: 3px solid aqua;
    border-top: none;
    border-bottom: none;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 80%;
    border-radius: 10%;
}

.registration-box form
{
    border: none;
    width: 80%;
    height: 93%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: center;
}

.registration-box input
{
    height: 6%;
    width: 90%;
}

.registration-box button
{
    width: 40%;
    height: 8%;
    border-radius: 10%;
    border-bottom: none;
    font-size: 65%;
}

#image
{
    background-color: black;
    border: none;
}

@media only screen and (max-width: 768px) 
{

    .registration-box
    {
        width: 70%;
    }

    .form-title
    {
        font-size: 50%;
        width: 70%;
        height: 5%;
    }

    .registration-box button 
    {
        font-size: 50%;
        width: auto;
        height: 5%;
    }
}