.form-box
{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit;
}

.sign-in-form
{
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.admin
{
    background-color: black;
    width: 65%;
    height: 5%;
    color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 90%;
    border-bottom: 3px solid aqua;
}
form
{
    width: 80%;
    height: 50%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    border: 3px solid aqua;
    border-top: none;
}
form input
{
    width: 80%;
    height: 10%;
    border: none;
    border-bottom: 2px solid aqua;
    background-color: rgba(11, 255, 255, 0.171);
    outline: none;
    font-size: 11px;
    color: white;
}

form input:focus
{
    border-bottom: 2px solid red;
}

form button
{
    width: 25%;
    height: 12%;
    font-weight: bold;
    font-size: 70%;
    border: 2px solid aqua;
    border-top: none;
    color: aqua;
    background-color: black;
}

form button:hover
{
    background-color: rgb(5, 104, 71);
    border: rgb(5, 104, 71);
    color: black;
    transition: all 2s ease-in-out;
}
.logo-box
{
    width: 50%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-box img
{
    width: 50%;
    height: 45%;
}