body
{
  background-color: bisque;
  padding: 5px;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App
{
  height: 97vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  border-radius: 9%;
}

aside
{
  width: 10%;
  height: 100%;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9%;
}

.name
{
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: inherit;
  width: 80%;
  height: 100%;
  border-left: 4px solid aqua;
  border-radius: 10%;
  padding: 0;
  margin: 0;
  /* gap: 0.2em; */
}

.main-logo
{
  width: 78%;
  height: 7%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: end;
}
.main-logo img
{
  width: 40%;
  height: 90%;
}
.gamefusion
{
  width: 100%;
  height: 5%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gamefusion p
{
  font-size: 70%;
  font-weight: bold;
  color: red;
}

.name h1
{
  font-size: 97%;
  color: red;
}

main
{
  width: 80%;
  height: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
nav
{
  width: 100%;
  height: 12%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: inherit;
}

.content
{
  width: 100%;
  height: 88%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
}
.sidebar
{
  width: 10%;
  height: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9%;
}
