body
{
  background-color: aquamarine;
  padding: 5px;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App
{
  height: 97vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  border-radius: 3%;
  border-right: 4px solid red;
  border-left: 4px solid red;
}

aside
{
  width: 14%;
  height: 98%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7%;
}

.name
{
  display: flex;
  justify-content: center;
  align-items: start;
  background-color: inherit;
  width: 90%;
  height: 95%;
  border-radius: 10%;
  padding: 0;
  margin: 0;
}

.gamefusion
{
  width: 100%;
  height: 5%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

span
{
  color: aqua;
}

.gamefusion p
{
  font-size: 100%;
  font-weight: bold;
  color: red;
}
/* ENDS */


/* MAIN */
main
{
  width: 100%;
  height: 85%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  border-radius: 9%;
}
nav
{
  width: 98%;
  height: 11%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  background-color: inherit;
  border-radius: 10%;
}

.content
{
  width: 98%;
  height: 88%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  border-radius: 3%;
}
.sidebar
{
  width: 10%;
  height: 100%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9%;
}

@media only screen and (max-width: 768px)
{
  .App
  {
    flex-direction: column;
  }

  aside
  {
    width: 100%;
    height: 14%;
    flex-direction: row;
  }

  .name
  {
    justify-content: center;
    align-items: center;
  }

  .content
  {
    flex-direction: column;
  }
  
}
  
