body
{
  background-color: aquamarine;
  padding: 5px;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App
{
  height: 97vh;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  border-radius: 3%;
  border-right: 4px solid red;
  border-left: 4px solid red;
}

/* ENDS */


/* MAIN */
main
{
  width: 100%;
  height: 99%;
  background-color: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  border-radius: 3%;
}
nav
{
  width: 98%;
  height: 11%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  background-color: inherit;
  border-radius: 10%;
}

.name
{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: inherit;
  width: 15%;
  height: 100%;
  border-radius: 10%;
  padding: 0;
  margin: 0;
}

.gamefusion
{
  width: 100%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15%;
}

span
{
  color: aqua;
  font-weight: bold;
}

.gamefusion p
{
  font-size: 100%;
  font-weight: bold;
  color: red;
}

.content
{
  width: 98%;
  height: 88%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  border-radius: 3%;
}

@media only screen and (max-width: 768px)
{
  .App
  {
    flex-direction: column;
  }
  nav 
  {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .name
  {
    justify-content: center;
    align-items: center;
    height: 65%;
    font-size: 50%;
  }
  
}
  
